@import "blog-styles";
:host {
    .paginiation {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 35px;

        > div {
            width: 48%;
            background-color: #F7F7F7;
            transition: all 0.3s ease-in-out;
            a {
                display: block;
                padding: 18px 30px;
                text-transform: uppercase;
                text-align: left;
                font-size: 12px;
                color: #C3A895;
                text-decoration: none;
            }

            &.next {
                a {
                    text-align: right;
                }
            }

            &:hover {
                background-color: #C3A895;
                transition: all 0.3s ease-in-out;

                a {
                    color: white;
                }
            }
        }
    }
}