<div *ngIf="pagination" class="paginiation">
    <div class="previous" *ngIf="pagination.previous_post_url; else spacer">
        <a [routerLink]="pagination.previous_post_url">Previous</a>
    </div>
    <ng-template #spacer>
        <div class="spacer"></div>
    </ng-template>
    <div class="next" *ngIf="pagination.next_post_url">
        <a [routerLink]="pagination.next_post_url">Next</a>
    </div>
</div>