@import "blog-styles";
:host  {
    header{
        height: 593px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        text-align: center;

        div {
            margin: auto;
        }

        .sub-title {
            font-size: 18px;
            margin-bottom: 10px;
            text-transform: uppercase;
            color: $color-accent;
            font-weight: 500;
        }
        h2 {
            font-size: 72px;
            font-weight: 400;
            margin: 0;
        }
    }


        .post-lockup {
            margin-top: 100px;

            &:first-of-type {
                margin-top: 0;
            }
        }

}