<div class="post-container">
    <ul *ngIf="(posts$ | async) as posts">
        <div class="post-lockup" *ngFor="let post of posts index as i; last as isLast">
            <blog-post-block [post]="post"></blog-post-block>
            <blog-similar-posts [id]="post.id" [relatedPosts]="post.relatedPosts"></blog-similar-posts>
        </div>
    </ul>
</div>