<div *ngIf="(post$ | async) as post">
    <article  >
        <div [innerHtml]="post.content | safe : 'html'">

        </div>
        <blog-post-details [post]="post"></blog-post-details>
    </article>
    <blog-author-bio [authorBio]="post.author"></blog-author-bio>
    <blog-paginination [pagination]="buildPaginationUrls(post)"></blog-paginination>
    <section>
        <blog-similar-posts [relatedPosts]="post.relatedPosts"></blog-similar-posts>
    </section>
    <div class="comments-section" id="comments">
        <blog-comments [post]="post"></blog-comments>
    </div>
</div>
<!-- <pre>{{ post$ | async | json }}</pre> -->