
@import "blog-styles";

:host {
    article {

        ::ng-deep {
            p {
                font-family: "Helvetica Neue";
                font-weight: normal;
                font-size: 18px;
                letter-spacing: 0.01em;
                line-height: 30px;
                text-align: left;
                color: #040404;
            }

            img {
                max-height: 467px;
            }
            blockquote {
                margin: 30px 0;
                padding: 30px 30px 30px 60px;
                border-top: 1px dashed #D0D2D6;
                border-bottom: 1px dashed #D0D2D6;

                &::before {
                    font-family: 'Lora';
                    color: $color-accent;
                    content: "“";
                    width: 20px;
                    height: 20px;
                    line-height: 65px;
                    text-align: center;
                    font-size: 65px;
                    margin-left: -60px;
                    margin-top: 1px;
                    font-style: normal;
                    position: absolute;
                    border-radius: 20px;
                }

                p {
                    font-family: 'Lora';
                    font-size: 24px;
                    line-height: 36px;
                    font-style: italic;
                }
            }
        }

    }
    .paginiation {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 35px;

        > div {
            width: 48%;
            background-color: #F7F7F7;

            a {
                display: block;
                padding: 18px 30px;
                text-transform: uppercase;
                font-size: 12px;
                color: #C3A895;
                text-decoration: none;
            }

            &.next {
                a {
                    text-align: right;
                }
            }
        }
    }
}