@import "blog-styles";

:host {
    span {
        background-color: $color-accent;
        font-family: "Helvetica Neue";
        font-weight: 500;
        font-size: 12px;
        text-align: center;
        color: #fff;
        padding: 5px 17.5px;
        border-radius: 3px;
        text-transform: uppercase;
    }
}