/*
-------- Site colours --------
*/
// base text colour
$color-text: #040404;
// alt text colour
$color-alt: #888888;
// accent colour
$color-accent: #764D24;
$color-accent-light: #8C6238;
$color-accent-lightest: rgba($color: $color-accent, $alpha: 0.75);
// warn colour
$color-warn: #ED1545;
$color-grey: #605F74;

.published-date{
    color: $color-accent;
}