@import "typography";
@import "colours";

* {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

html {
    font-size: 16px;
    font-family: $font-family;
    color: $color-text;
}

h1 {
    font-size: $font-heading-base;
    font-family: $font-family-heading;
    cursor: default;
}

h2, h3, h4, h5, h6  {
    font-family: $font-family-heading;
    cursor: default;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}

ul {
    padding: 0;
    margin: 0;
    right: 0;

    li {
        list-style: none;
    }
}

p {
    cursor: default;
}

.accent {
    color: $color-accent;
}

.accent-light {
    color: $color-accent-light;
}
