@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600;700&display=swap');

$font-family: "Helvetica Neue";
$font-family-heading: "Lora";
$font-para-small: 0.912em; //16px
$font-para-base: 1.1em; //18px
$font-para-large: 1.125rem;
$font-heading-small: 1.625em; //26px
$font-heading-base: 2.25rem;
$font-heading-large: 2.5rem;
