<div class="post-author">
    <blog-tags *ngIf="post.tags" [tags]="post.tags"></blog-tags>
    <div class="row">
        <span *ngIf="post.author" class="author-name">
            by {{post.author.name}}
        </span>
        <span *ngIf="post.commentCount" class="comment-count">
            <span>
                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="15.823" viewBox="0 0 18 15.823">
                    <path id="Path_11" data-name="Path 11"
                        d="M1.129,17.539a.566.566,0,0,0,.514.326,8.5,8.5,0,0,0,4.566-1.317,25.848,25.848,0,0,0,2.913.269c4.963,0,9-3.314,9-7.388s-4.037-7.387-9-7.387-9,3.313-9,7.387A6.788,6.788,0,0,0,2.678,14.58a9.831,9.831,0,0,1-1.47,2.355A.57.57,0,0,0,1.129,17.539Zm.127-8.11c0-3.449,3.529-6.254,7.866-6.254s7.866,2.806,7.866,6.254-3.529,6.254-7.866,6.254A24.24,24.24,0,0,1,6.205,15.4a.587.587,0,0,0-.4.073,7.94,7.94,0,0,1-2.964,1.172A10.78,10.78,0,0,0,3.892,14.61a.565.565,0,0,0-.186-.658A5.682,5.682,0,0,1,1.256,9.429Z"
                        transform="translate(-0.122 -2.042)" fill="#8c6238" />
                </svg>
            </span>
            <a (click)="buildUrl()">{{post.commentCount}} comments</a>
        </span>
    </div>
</div>