:host  {
    .post-author {
        padding-top: 10px;
        margin-top: 30px;
        border-bottom: 1px solid #d9d9d9;
        padding-bottom: 10px;

        .row {
            display: flex;
            justify-content: space-between;
            margin-top: 9px;
            span {
                font-weight: 500;
                font-size: 14px;
                letter-spacing: 0.01em;
                text-align: left;
                color: #040404;
            }
    
            .comment-count {
                display: flex;
                text-transform: uppercase;
                font-size: 12px;
                font-weight: 400;
                align-items: center;
                > span {
                    margin-right: 10px;
                }
            }
        }
    }
}