<div class="comments-wrapper" *ngIf="post">
    <div class="comments-lockup" *ngIf="post.comments && post.comments.length > 0; else noComments">
        <h3 *ngIf="post.commentCount.length > 1; else singular">{{post.commentCount}} comments</h3>
        <ng-template #singular>
            <h3>{{post.commentCount}} comment</h3>
        </ng-template>
        <ul>
            <ng-template ngFor let-comment [ngForOf]="sortComments(post.comments)">
                <li class="commnt-lockup">

                    <article>
                        <div class="col col-left">
                            <div class="avatar">
                                <img *ngIf="comment.author && comment.author.avatar && comment.author.avatar.url; else noPicture" [src]="comment.author.avatar.url">

                                <!-- <ng-template #noPicture>
                                    <svg id="_0287-user" data-name="0287-user" xmlns="http://www.w3.org/2000/svg"
                                        width="13.516" height="14.227" viewBox="0 0 13.516 14.227">
                                        <path id="Path_6" data-name="Path 6"
                                            d="M7.913,7.825a3.913,3.913,0,1,1,3.913-3.913A3.917,3.917,0,0,1,7.913,7.825Zm0-7.114a3.2,3.2,0,1,0,3.2,3.2A3.205,3.205,0,0,0,7.913.711Z"
                                            transform="translate(-1.154)" fill="#8c6238" />
                                        <path id="Path_7" data-name="Path 7"
                                            d="M12.449,17.82H1.067A1.068,1.068,0,0,1,0,16.753a4.248,4.248,0,0,1,.871-2.348,5.071,5.071,0,0,1,2.041-1.579,9.86,9.86,0,0,1,3.846-.374,9.86,9.86,0,0,1,3.846.374,5.077,5.077,0,0,1,2.041,1.579,4.248,4.248,0,0,1,.871,2.348A1.068,1.068,0,0,1,12.449,17.82ZM6.758,12.84c-2.481,0-4.311.678-5.293,1.961a3.614,3.614,0,0,0-.753,1.953.356.356,0,0,0,.356.354H12.449a.356.356,0,0,0,.356-.356,3.6,3.6,0,0,0-.753-1.952C11.068,13.518,9.238,12.84,6.758,12.84Z"
                                            transform="translate(0 -3.592)" fill="#8c6238" />
                                    </svg>
                                </ng-template> -->
                                <ng-template #noPicture>
                                    <img src="http://1.gravatar.com/avatar/ab9ed13a675ddf1d31b4f86a129ea599?s=96&d=mm&r=g" alt="no profile">
                                </ng-template>

                            </div>
                        </div>

                        <div class="col col-right">
                            <div class="top-row">
                                <div>
                                    <cite>{{comment.author?.name}}</cite>
                                    <time [datetime]="comment.date">{{comment.date}}</time>

                                </div>
                                <blog-button isClass="alt" isSize="small" (routerLink)="'/log-in'" *ngIf="!isLogged; else replyBtn">Log in to reply</blog-button>
                                <ng-template #replyBtn>
                                    <blog-button isSize="small">Reply to comment</blog-button>
                                </ng-template>
                            </div>
                            <div class="comment-details">
                                <span [innerHtml]="comment.content | safe : 'html'"></span>
                            </div>
                        </div>
                    </article>

                </li>
            </ng-template>
        </ul>
    </div>
    <ng-template #noComments>
        <p>There are currently no comments, <span>be the first.</span></p>
    </ng-template>
</div>

<div class="reply-container" [formGroup]="commentForm">
    <h3>Leave a reply</h3>
    <div *ngIf='isLogged; else loggedOutText'>
        <textarea rows="10" cols="" placeholder="Type here..." formControlName="content"></textarea>
        <div class="action-lockup">
            <blog-button isClass="alt" isSize="smallest" (click)="onSubmit()">Submit comment</blog-button>
        </div>
    </div>

    <ng-template #loggedOutText>
        <p class="log-in-text">You must be <a routerLink="/log-in">logged in</a> to post a comment</p>
    </ng-template>
</div>