@import "blog-styles";
:host {
    .comments-wrapper {
        margin-top: 35px;
        background-color: #F7F7F7;
        padding: 35px;

        h3 {
            font-family: 'Montserrat';
            font-size: 24px;
            font-weight: 500;
            text-align: left;
            margin: 0 0 30px 0;
            padding: 0;
        }

        .commnt-lockup {
            padding-bottom: 40.5px;
            border-bottom: 1px solid #EEEEEE;
            margin-bottom: 40.5px;

            &:last-of-type {
                margin-bottom: 0;
                border-bottom: none;
                padding-bottom: 0;
            }
        }

        article {
            display: flex;

            .col-left {
                width: 50px;
                margin-right: 40px;

                img {
                    width: 50px;
                    height: auto;
                }
            }

            .col-right {
                width: 100%;
                .top-row {
                    display: flex;
                    justify-content: space-between;

                    div {
                        display: flex;
                        flex-direction: column;
                        cite {
                            font-family: 'Montserrat';
                            font-weight: normal;
                            font-size: 10px;
                            letter-spacing: 2px;
                            text-align: left;
                            color: #040404;
                            font-style: normal;
                            text-transform: uppercase;
                            margin-bottom: 2px;
                        }

                        time {
                            font-family: 'Montserrat';
                            font-weight: normal;
                            font-size: 12px;
                            letter-spacing: 0em;
                            text-align: left;
                            color: #040404;

                        }
                    }
                }

                .comment-details {

                    ::ng-deep {
                        p {
                            margin: 0;
                            font-family: "Helvetica Neue";
                            font-weight: normal;
                            font-size: 14px;
                            line-height: 25px;
                            text-align: left;
                            color: #040404;
                            text-rendering: optimizeLegibility;
                            max-width: 80%;
                        }
                    }
                }
            }
        }
    }

    .reply-container {
        margin-top: 35px;
        background-color: #F7F7F7;
        padding: 35px;

        h3 {
            margin: 0 0 15px 0;
            font-family: "Helvetica Neue";
            font-weight: normal;
            font-size: 24px;
            letter-spacing: 0.01em;
            text-align: left;
            color: #040404;

        }

        .log-in-text {
            font-family: "Helvetica Neue";
            font-weight: normal;
            font-size: 14px;
            letter-spacing: 0.01em;
            text-align: left;
            color: #040404;
            margin: 15px 0 0;

            a {
                color: $color-accent;
                text-decoration: none;
            }
        }

        textarea {
            width: 100%;
            padding: 15px;
            border: 1px solid #EEEEEE;
            font-size: 12px;
            margin-bottom: 20px;
            border-radius: 3px;
        }

        .action-lockup {
            text-align: right;

        }


    }
}