:host {

    .header-section {
        margin-bottom: 30px;
    }
    ::ng-deep {
        .header {
            width: 100%;
            
            * {
                font-size: 16px;
                font-weight: 400;
                color: #434343;
            }
        }

        hr {
            border: 1px solid #F2ECEC;
            margin-bottom: 0;
        }

        .content {
            overflow: hidden;
            width: 100%;
            height: 100%;
            position: absolute;
            height: calc(100% - 380px);
            left: 0;
            right: 0;

            > * {
                overflow: hidden;
                width: 100%;
                height: 100%;
            }
        }
    }
}