@import "blog-styles";

:host {

    .page-wrapper {
        margin-top: 100px;
        header{
            height: 430px;
            width: 100%;
            margin-bottom: 100px;
        }

        .content-wrapper {
            width: 100%;
            display: flex;
            justify-content: space-between;
            flex-direction: column;

            .main {
                padding: 0 15px;
            }
        }

    }
    .page-wrapper.is-desktop {
        padding: 0 73px;
        header {
            .container  {
                h1 {
                    font-size: 72px;
                    font-weight: 400;
                }
            }
        }

        .content-wrapper {
            flex-direction: row;

            .sub-title {
                font-size: 18px;
                margin-bottom: 10px;
                text-transform: uppercase;
                color: $color-accent;
                font-weight: 500;
            }
            .main {
                width: 75%;
                padding: 0 73px 50px 0;
            }
    
            aside {
                width: 25%;
                border-left: 1px solid #D0D2D6;
                padding: 0 0 0 34px;
            }
        }
    }

    .page-wrapper.is-ipadPro {

        header {
            .container {
                h1 {
                    font-size: 72px;
                    font-weight: 400;
                }

                .sub-title {
                    font-size: 18px;
                    margin-bottom: 10px;
                    text-transform: uppercase;
                    color: $color-accent;
                    font-weight: 500;
                }
            }
        }

        .content-wrapper {
            flex-direction: row;

            .main {
                width: 75%;
                padding: 0 25px;
            }
    
            aside {
                width: 25%;
                border-left: 1px solid #D0D2D6;
            }
        }
    }

    .page-wrapper.is-ipad  {

        .content-wrapper {

            .main {
                padding: 0 50px;
            }
        }
    }
}