<div
class="page-wrapper"
[class]="'is-'+(activeBreakPoint$ | async)"
*ngIf="(selectdPage$ | async) as page">
    <header>
        <blog-ad-banner *ngIf="page.isFrontPage; else defaultHeader" >
        </blog-ad-banner>

        <ng-template #defaultHeader>
            <blog-banner [page]="page"></blog-banner>
        </ng-template>

    </header>
    <div class="content-wrapper">
        <div class="main">
            <div [ngSwitch]="page.type">
                <div *ngSwitchCase="'page'">
                    <blog-front-page *ngIf="page.isFrontPage; else defaultPage" [page]="page"> </blog-front-page>
                    <ng-template #defaultPage>
                        <div [ngSwitch]="page.slug">
                            <blog-reviews-page *ngSwitchCase="'reviews'" [page]="page"></blog-reviews-page>
                            <blog-calculators-page *ngSwitchCase="'calculators'" [page]="page"></blog-calculators-page>
                            <blog-search-page *ngSwitchCase="'search'" [page]="page"></blog-search-page>
                            <blog-downloads-page *ngSwitchCase="'downloads'" [page]="page"></blog-downloads-page>
                            <blog-suggest-page *ngSwitchCase="'suggest'" [page]="page"></blog-suggest-page>
                            <blog-archive-page *ngSwitchDefault [page]="page"></blog-archive-page>
                        </div>
                    </ng-template>
                </div>
                <div *ngSwitchCase="'category'">
                    <blog-archive-page [page]="page"></blog-archive-page>
                </div>
                <div *ngSwitchCase="'post'">
                    <blog-archive-single [page]="page"></blog-archive-single>
                </div>
                <div *ngSwitchCase="'reviews'">
                    <blog-review-single></blog-review-single>
                </div>
                <blog-archive-page *ngSwitchDefault></blog-archive-page>
            </div>
        </div>
        <aside>
            <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex sequi necessitatibus adipisci nostrum, veniam quis placeat atque? Mollitia alias quam in ab, soluta eum sint quae laboriosam id est velit!</span>
        </aside>
    </div>

</div>