<div class="search-container" *ngIf="(searchResults$ | async) as results">
    <div class="header" *ngIf="results.length > 0; ">
        <h2> Showing search results for: <span>{{query}}</span></h2>
    </div>
    <div class="search-results-lockup">
        <div class="results-lockup" >
            <ul *ngIf="results.length > 0; else noResults">
                <ng-template ngFor let-post [ngForOf]="results">
                    <li>
                        <blog-post-block [post]="post"></blog-post-block>
                        <blog-similar-posts [id]="post.id" [relatedPosts]="post.relatedPosts"></blog-similar-posts>
                    </li>
                </ng-template>
            </ul>
            <ng-template #noResults>
                <div class="no-results">
                    <h2>Nothing found</h2>
                    <p>Sorry, but nothing matched your search terms. Please try again with some different keywords.</p>
                    <div class="search">
                        <input type="text" placeholder="Search..." [formControl]="searchControl" #searchInput>
                        <blog-button>Search</blog-button>
                    </div>
                </div>
            </ng-template>
        </div>
    </div>
</div>