@import "blog-styles";

:host {
    .search-container {
        .header {
            border-bottom: 1px solid #707070;
            margin-bottom: 30px;

            h2 {
                font-family: "Helvetica Neue";
                font-weight: 500;
                margin: 0;
                font-size: 16px;
                letter-spacing: 0.07em;
                line-height: 43px;
                text-align: left;
                color: #040404;
                text-transform: uppercase;
            }

            span {
                color: $color-accent;
            }
        }
        .no-results {
            display: flex;
            flex-direction: column;
            align-items: center;

            h2 {
                font-size: 50px;
                margin-bottom: 30px;
                font-weight: 500;
            }

            p {
                margin-bottom: 20px;
                font-size: 14px;
            }

            margin-bottom: 100px;
        }
        .search {
            margin: auto;
            display: flex;
            align-items: center;
            input {
                width: 300px;
                margin-right: 10px;
                border: 1px solid #EEEEEE;
                background-color: #ffffff;
                padding: 5px 13px;
                color: #000000;
                font-size: 13px;
                vertical-align: middle;
                line-height: 29px;
                border-radius: 0;
            }

            ::ng-deep {
                blog-button {
                    button {
                        border-radius: 0;
                    }
                }
            }
        }
    }
}