<div *ngIf="tags && tags.length > 0" class="tags-container">
    <span>
        <i>
            <svg xmlns="http://www.w3.org/2000/svg" width="11.381" height="14" viewBox="0 0 11.381 14">
                <path id="Path_10" data-name="Path 10"
                    d="M4.39,0H9.057a1.34,1.34,0,0,1,.478.255L15.1,5.821a.873.873,0,0,1,0,1.235l-.694.694.694.694a.873.873,0,0,1,0,1.235l-4.064,4.064a.874.874,0,0,1-1.235,0L4.237,8.177a1.016,1.016,0,0,1-.26-.477V.434A.407.407,0,0,1,4.39,0Zm.9.871a.437.437,0,1,0,.437.437A.437.437,0,0,0,5.29.871ZM4.855,7.559l5.564,5.567,4.064-4.062-.694-.694-2.751,2.751a.874.874,0,0,1-1.235,0L4.852,6.169V7.552s0,.007,0,.007Z"
                    transform="translate(-3.977 0.001)" fill="#8c6238" />
            </svg>
        </i>
    </span>
    <div class="tags-lockups">
        <ul>
            <ng-template ngFor let-tag [ngForOf]="tags">
                <li [routerLink]="'/tag/'+tag.slug">{{tag.name}}</li>
            </ng-template>
        </ul>
    </div>
</div>