@import "blog-styles";

:host {
    .tags-container {
        display: flex;
        align-items: center;
        margin-bottom: 2px;

        > span {
            margin-right: 10px;
        }
        ul {
            display: flex;
            align-items: center;

            li {
                font-family: "Helvetica Neue";
                font-weight: normal;
                font-size: 12px;
                letter-spacing: 0.01em;
                line-height: 25px;
                margin-right: 15px;
                text-align: left;
                color: #040404;
                text-transform: uppercase;
                cursor: pointer;
                transition: all 0.3s ease-in-out;

                &:hover {
                    color: $color-accent;
                    transition: all 0.3s ease-in-out;
                }
            }
        }
    }
}