<section>
    <blog-featured-posts></blog-featured-posts>
</section>

<ul [class]="'is-'+(activeBreakPoint$ | async)" *ngIf="page.postsGroups">
    <ng-template  ngFor let-section [ngForOf]="loopPostSections(page.postsGroups)">
        <blog-post-section [title]="section.sectionTitle">
            <div *ngIf="section.posts" content>
                <div *ngFor="let post of section.posts; index as i; last as isLast" >
                    <blog-category-featured-post-block [post]="post"></blog-category-featured-post-block>
                    <hr *ngIf="!isLast" class="seperator">
                </div>
            </div>
        </blog-post-section>
        <blog-button [routerLink]="goToCategory(section)" type="submit" isClass="primary" isSize="medium">View more</blog-button>
    </ng-template>
</ul>
