:host {
    section {
        margin: 0 0 70.5px 0;
    }
    ul  {
        display: flex;
        flex-direction: column;
        blog-button {
            text-align: center;
            margin: 10px auto 50px auto;
        }

        hr {
            border:none;
            border-top:1px dashed #D0D2D6;
            color:#fff;
            background-color:#fff;
            height:1px;
            width: 95%;
        }

        &.is-ipadPro, &.is-desktop {
            blog-button {
                margin: 10px auto 100px auto;
            }
        }
    }
}