@import "blog-styles";

:host {
    label {
        font-family: "Helvetica Neue";
        font-weight: 500;
        font-size: 14px;
        letter-spacing: 0.13em;
        text-align: left;
        color: #040404;
    }
    input {
        border-radius: 4px;
        background: transparent;
        border: 1px solid #d0d2d6;
        line-height: 22px;
        padding: 10px 15px;
        width: 100%;
        font-size: 12px;
        margin-top: 12px;
        &::placeholder {
            color: rgba($color: #896279, $alpha: 0.8);
        }
        &:focus {

             box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
        }
    }
}
