<div class="dynamic-field blog-form-input shadow" [formGroup]="group">
    <label>{{ config.label }}</label>
    <input [type]="config.input_type ? config.input_type : 'text'" [attr.placeholder]="config.placeholder"
        [formControlName]="config.name">
</div>