@import "blog-styles";

:host {
    button {
        font-family: 'Montserrat';
        line-height: 42px;
        background-color: $color-accent;
        color: white;
        border: none;
        cursor: pointer;
        text-transform: uppercase;
        font-weight: 700;
        border-radius: 4px;
        opacity: 0.75;
        transition: opacity ease-in-out 300ms;

        &:disabled {
            cursor: no-drop;
            background-color: #eeeeee;
            color: $color-text;
        }

        &.alt {
            background-color: #eeeeee;
            color: $color-text;
        }

        &.smallest {
            letter-spacing: 1px;
            padding: 2px 10px;
            font-size: 10px;
        }

        &.small  {
            line-height: 36px;
            font-size: 10px;
            min-width: 114px;
            padding: 0 15px;
        }

        &.medium  {
            font-size: 10px;
            line-height: 41.83px;
            width: 134px;
            max-width: 134px;
        }

        &.large  {
            font-size: 10px;
            line-height: 41px;
            min-width: 114px;
            padding: 0 15px;
            // max-width: 321px;
        }

        &.xLarge {
            width: 286.19px;
            height: 54.38px;
            border-radius: 4px;
            font-weight: 500;
        }

        &.solid  {
            opacity: 1;
        }

        &:hover {
            opacity: 1;
            transition: opacity ease-in-out 300ms;
        }

    }
}