<div>
    <!-- <ul>
        <ng-template ngFor let-title [ngForOf]="titles">
            <li (click)="onClick(title)">{{title}}</li>
        </ng-template>
    </ul> -->
    <span (click)="onClick(title)">{{title}}</span>
</div>