@import "blog-styles";
:host {
    div {
        width: 100%;
        border-bottom: 1px solid #605f7459;
        span {
            display: block;
            text-transform: uppercase;
            letter-spacing: 0.66px;
            font-size: 1em;
            font-weight: 500;
            margin-bottom: 13px;
        }
    }
}