:host {
    #page-wrapper {
        display: flex;
        .left-col {
            width: 55vw;
            overflow: hidden;
            display: flex;
            align-items: center;
            .form-wrapper {
                max-width: 559px;
                margin: auto;
                width: 100%;
                h1 {
                    font-family: "Helvetica Neue";
                    font-weight: 300;
                    font-size: 56px;
                    letter-spacing: 0.01em;
                    line-height: 57px;
                    text-align: left;
                    color: #040404;
                    text-transform: capitalize;
                    margin-top: 0;
                    margin-bottom: 93px;
                }
            }

            .password-checks-lockup {
                ul {
                    padding-left: 17px;
                    li {
                        font-family: "Helvetica Neue";
                        font-weight: normal;
                        font-size: 13px;
                        letter-spacing: 0.07em;
                        list-style: disc;
                        text-align: left;
                        color: #888;
                        margin-bottom: 10px;

                        &.is-valid.is-dirty {
                            color: #248232;
                        }

                        &.is-invalid.is-dirty {
                            color: #e5625e;
                        }
                    }
                }
            }

            .action-buttons {
                margin-top: 97px;
                text-align: center;
            }
        }
        .right-col {
            width: 45vw;
            height: calc(100vh - 73px);
            background-position: center center;
            background-size: cover;
            background-repeat: no-repeat;
        }
    }
}