<div id="page-wrapper" *ngIf="page && authForm">
    <div class="col left-col">
        <div class="form-wrapper">
            <h1>{{page.title}}</h1>
            <blog-form [config]="formConfig" (formChanges)="receiveFormChanges($event)"></blog-form>
            <div *ngIf="page.slug === 'sign-up'" class="password-checks-lockup">
                <ul>
                    <ng-template ngFor let-check [ngForOf]="signupPasswordchecks">
                        <li [class.is-valid]="check.passed" [class.is-invalid]="!check.passed" [class.is-dirty]="authForm.get('password').dirty">{{check.text}}</li>
                    </ng-template>
                </ul>
            </div>
            <div class="action-buttons">
                <blog-button [isSize]="'xLarge'" [isDisabled]="!authForm.valid" (click)="registerSignInUser()">{{buttonText}}</blog-button>
            </div>
        </div>
    </div>

    <div class="col right-col" [style.background-image]="'url('+page.featuredImage.sourceUrl+')'">
    </div>
</div>