@import "blog-styles";

:host {
    .widget {
        padding: 40px 15px 0 15px;
        position: relative;
        background-color: white;
        overflow: hidden;
        width: 100%;
        height: 100%;
        border: 1px solid #F2ECEC;
    }

}
::ng-deep {
    *[body] {
        overflow: scroll;
        padding: 0;
        margin: 0;
        height: calc(100% - 90px);

        li {
            list-style: none;
            border-bottom: 1px solid #F2ECEC;
            padding: 7px 10px;
            cursor: pointer;
            transition: all 0.3s ease-in-out;

            &:last-of-type {
                border-bottom: none;
            }

            &.selected, &:hover {
                background-color: rgba($color: $color-alt, $alpha: 0.07);
                transition: all 0.3s ease-in-out;
            }
        }

        ul {
            padding: 0;
            margin: 0;
            height: calc(100% - 90px);
            overflow: scroll;

            li {
                list-style: none;
                border-bottom: 1px solid #F2ECEC;
            }
        }
    }
    div[footer] {
        background-color: white;
        border-top: 1px solid rgba($color: #A8A8A8, $alpha: 0.24);
        width: 100%;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        height: 90px;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
}

