<div class="form-field-wrapper" [formGroup]="group">
    <label for="" *ngIf="config.label">{{config.label}}</label>
    <div class="input-container">
        <span>{{config.options.min}}</span>
        <div>
            <input type="range" [name]="config.name" [id]="config.name" [attr.placeholder]="config.placeholder" [formControlName]="config.name" [min]="config.options.min" [max]="config.options.max">
            <output for="config.name" onforminput="value = config.name.valueAsNumber;" class="bubble"></output>
        </div>
        <span>{{config.options.max}}</span>
    </div>
</div>