@import "blog-styles";
:host {
    $track-color-lower: #8C6238!default;
    $track-color-upper: green !default;
    .form-field-wrapper {

        label  {
            font-family: "Helvetica Neue";
            font-weight: 500;
            font-size: 16px;
            letter-spacing: 0.07em;
            line-height: 43px;
            text-align: left;
            color: #040404;
            text-transform: uppercase;
        }

        .input-container {
            display: flex;
            align-items: center;
            width: 100%;
            >div {
                position: relative;
                width: 100%;
            }

            span:first-of-type {
                margin-right: 20px;
            }
            span:last-of-type {
                margin-left: 20px;
            }

            .bubble {
                background: #8C6238;
                color: white;
                padding: 4px 12px;
                position: absolute;
                border-radius: 4px;
                left: 50%;
                top: 25px;
                transform: translateX(-50%);
            }
            .bubble::after {
                content: "";
                position: absolute;
                width: 2px;
                height: 2px;
                background: #8C6238;
                top: -1px;
                left: 50%;
            }
        }

        /******   Thumb styles   ********/

        $track-color: #8C6238!default;

        /******   Track styles   ********/
        // Styling Cross-Browser Compatible Range Inputs with Sass
        // Github: https://github.com/darlanrod/input-range-sass
        // Author: Darlan Rod https://github.com/darlanrod
        // Version 1.5.2
        // MIT License


        $thumb-color: #8C6238;

        $thumb-radius: 50%;
        $thumb-height: 15px;
        $thumb-width: 15px;
        $thumb-shadow-size: 4px;
        $thumb-shadow-blur: 4px;
        $thumb-shadow-color: #C3A894;
        $thumb-border-width: 2px;
        $thumb-border-color: #8C6238;

        $track-width: 100%;
        $track-height: 1px;
        $track-shadow-size: 1px;
        $track-shadow-blur: 1px;
        $track-shadow-color: #C3A894;
        $track-border-width: 1px;
        $track-border-color: #8C6238;

        $track-radius: 5px;
        $contrast: 5%;

        $ie-bottom-track-color: darken($track-color, $contrast);

        @mixin shadow($shadow-size, $shadow-blur, $shadow-color) {
            box-shadow: $shadow-size $shadow-size $shadow-blur $shadow-color, 0 0 $shadow-size lighten($shadow-color, 5%);
        }

        @mixin track {
            cursor: default;
            height: $track-height;
            transition: all .2s ease;
            width: $track-width;
        }

        @mixin thumb {
            @include shadow($thumb-shadow-size, $thumb-shadow-blur, $thumb-shadow-color);
            background: $thumb-color;
            display: relative;
            border: $thumb-border-width solid $thumb-border-color;
            border-radius: $thumb-radius;
            box-sizing: border-box;
            cursor: default;
            height: $thumb-height;
            width: $thumb-width;
        }

        [type='range'] {
            -webkit-appearance: none;
            background: transparent;
            margin: $thumb-height / 2 0;
            width: $track-width;

            &::-moz-focus-outer {
                border: 0;
            }

            &:focus {
                outline: 0;

                &::-webkit-slider-runnable-track {
                    background: lighten($track-color, $contrast);
                }

    

                &::-ms-fill-lower {
                    background: $track-color;
                }

                &::-ms-fill-upper {
                    background: lighten($track-color, $contrast);
                }
            }

            &::-webkit-slider-runnable-track {
                @include track;
                @include shadow($track-shadow-size, $track-shadow-blur, $track-shadow-color);
                background: $track-color;
                border: $track-border-width solid $track-border-color;
                border-radius: $track-radius;
            }

            &::-webkit-slider-thumb {
                @include thumb;
                -webkit-appearance: none;
                margin-top: ((-$track-border-width * 2 + $track-height) / 2 - $thumb-height / 2);
            }

            &::-moz-range-track {
                @include shadow($track-shadow-size, $track-shadow-blur, $track-shadow-color);
                @include track;
                background: $track-color;
                border: $track-border-width solid $track-border-color;
                border-radius: $track-radius;
                height: $track-height / 2;
            }

            &::-moz-range-thumb {
                @include thumb;
            }

            &::-ms-track {
                @include track;
                background: transparent;
                border-color: transparent;
                border-width: ($thumb-height / 2) 0;
                color: transparent;
            }

            &::-ms-fill-lower {
                @include shadow($track-shadow-size, $track-shadow-blur, $track-shadow-color);
                background: $ie-bottom-track-color;
                border: $track-border-width solid $track-border-color;
                border-radius: ($track-radius * 2);
            }

            &::-ms-fill-upper {
                @include shadow($track-shadow-size, $track-shadow-blur, $track-shadow-color);
                background: $track-color;
                border: $track-border-width solid $track-border-color;
                border-radius: ($track-radius * 2);
            }

            &::-ms-thumb {
                @include thumb;
                margin-top: $track-height / 4;
            }

            &:disabled {
                &::-webkit-slider-thumb,
                &::-moz-range-thumb,
                &::-ms-thumb,
                &::-webkit-slider-runnable-track,
                &::-ms-fill-lower,
                &::-ms-fill-upper {
                cursor: not-allowed;
                }
            }
        }
    }



    input[type='range']  {
        @for $i from 0 to 100 {
            &[value="#{$i}"]::-webkit-slider-runnable-track {
              background: linear-gradient(to right, $track-color-lower 0%,$track-color-lower percentage($i/100),$track-color-upper percentage($i/100),$track-color-upper 100%) !important;
            }
          }
    }
}