:host {
    .rating-lockup {
        display: flex;
        align-items: center;

        span {
            font-family: "Helvetica Neue";
            font-weight: 500;
            font-size: 16px;
            letter-spacing: 0.07em;
            text-align: left;
            color: #040404;
        }

        div {
            display: flex;
            align-items: center;

            span {
                color: #888;
                margin: 0 10px 0 21px;
            }
        }

        &.is-mobile {
            span {
                font-size: 12px;

                svg {
                    max-width: 14,36px;
                }
            }
        }
    }
}