<div [class]="'rating-lockup is-'+(activeBreakPoint$ | async)" *ngIf="rating">
    <span>Rating:</span> <div>
        <span>{{rating}}</span>
        <svg xmlns="http://www.w3.org/2000/svg" width="17.519" height="16.661" viewBox="0 0 17.519 16.661">
            <path id="Path_14" data-name="Path 14" d="M11.466,7.324,8.759,1.84,6.052,7.324,0,8.2l4.38,4.269L3.345,18.5l5.414-2.846L14.173,18.5l-1.034-6.028L17.519,8.2Z" transform="translate(0 -1.84)" fill="#764d24"/>
          </svg>
    </div>
</div>