:host {

    .mortgage-calc{
        ::ng-deep {
            blog-form {
                form {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;
                }
                blog-input-element-number, blog-slider {
                    width: 48%;
                    max-width: 625px;
                    margin-bottom: 30px;
                }
            }
        }
    }

    .results-section {
        h3 {
            font-family: "Helvetica Neue";
            font-weight: 500;
            font-size: 16px;
            letter-spacing: 0.07em;
            line-height: 43px;
            text-align: left;
            color: #040404;
            border-bottom: 1px solid #707070;
            margin-bottom: 54px;
        }

        .results-container {
            padding: 30px;
            border: 1px solid #d0d2d6;

            .header {
                display: grid;
                grid-template-columns: 70% 10% 10% 10%;
                margin-bottom: 10px;
                span {
                    font-family: "Helvetica Neue";
                    font-weight: 500;
                    font-size: 12px;
                    letter-spacing: 0.07em;
                    // line-height: 43px;
                    text-align: left;
                    color: #040404;

                }
            }

            .body,.footer {
                .row {
                    display: grid;
                    grid-template-columns: 70% 10% 10% 10%;
                    margin-bottom: 30px;
                    span {
                        font-family: "Helvetica Neue";
                        font-weight: normal;
                        font-size: 14px;
                        letter-spacing: 0.07em;
                        // line-height: 43px;
                        text-align: left;
                        color: #888;

                    }

                    .label {
                        span {
                            font-family: "Helvetica Neue";
                            font-weight: normal;
                            font-size: 14px;
                            letter-spacing: 0.07em;
                            // line-height: 43px;
                            text-align: left;
                            color: #040404;

                        }
                    }
                }
            }

            .footer {
                padding: 15px 0 0 0;
                border-top: 1px dashed #d0d2d6;

                .row {
                    margin: 0;
                }
            }
        }
    }
}