<div [class]="'calculators-containr ' + 'is-' + (activeBreakPoint$ | async)">

    <blog-tabs>
        <blog-tab [title]="'Mortgage breakdown'">
            <div class="mortgage-calc">
                <blog-form [config]="mortgageConfig" (formChanges)="receiveFormChanges($event)"></blog-form>

                <section class="results-section">
                    <h3>Results</h3>
                    <div class="results-container">
                        <div class="results-table">
                            <div class="header">
                                <div class="spacer"></div>
                                <div><span>Monthly</span></div>
                                <div><span>Year</span></div>
                                <div><span>End of term</span></div>
                            </div>
                            <div class="body" [formGroup]="mortgageResultsForm">
                                <div class="row">
                                    <div class="label"><span>Interest repayment:</span></div>
                                    <div>
                                        <span>{{mortgageResultsForm.get('monthly').get('interest').value | currency}}</span>
                                    </div>
                                    <div>

                                        <span>{{mortgageResultsForm.get('yearly').get('interest').value  | currency}}</span>
                                    </div>
                                    <div>
                                        <span>{{mortgageResultsForm.get('total').get('interest').value  | currency}}</span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="label"><span>Capital repayment:</span></div>
                                    <div>
                                        <span>{{mortgageResultsForm.get('monthly').get('principal').value | currency}}</span>
                                    </div>
                                    <div>
                                        <span>{{mortgageResultsForm.get('yearly').get('principal').value  | currency}}</span>
                                    </div>
                                    <div>
                                        <span>{{mortgageResultsForm.get('total').get('principal').value  | currency}}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="footer">
                                <div class="row">
                                    <div class="label"><span>Total:</span></div>
                                    <div>
                                        <span>{{mortgageResultsForm.get('monthly').get('total').value | currency}}</span>
                                    </div>
                                    <div>
                                        <span>{{mortgageResultsForm.get('yearly').get('total').value | currency}}</span>
                                    </div>
                                    <div>
                                        <span>{{mortgageResultsForm.get('total').get('total').value  | currency}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </blog-tab>
        <blog-tab [title]="'Rental profitability'">
        </blog-tab>
    </blog-tabs>
    
</div>
<!-- <blog-input-element-number label="Deposit"></blog-input-element-number> -->