@import "blog-styles";
:host {

    .search-wrapper {
        display: flex;
        align-self: center;
        border: 1px solid #d9d9d9;
        border-radius: 2px;
        padding: 0 12px;
        .icon-lockup {
            display: flex;
            align-items: center;
        }
        input {
            border: none;
            padding: 4px 13px;
            font-family: "Helvetica Neue";
            font-weight: 500;
            font-size: 12px;
            text-align: left;
            line-height: 24px;
            color: #888;
            width: 278px;
            &::placeholder {
                font-family: "Helvetica Neue";
                font-weight: 500;
                font-size: 12px;
                text-align: left;
                color: #888;
            }
        }
    }

}