<div class="search-wrapper">
    <div class="icon-lockup">
        <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 15 15">
            <path id="Path_1" data-name="Path 1" d="M5.959,0a6.07,6.07,0,0,1,4.725,9.883L14.7,13.9a.647.647,0,1,1-.915.915L9.77,10.8A6.071,6.071,0,1,1,5.959,0Zm0,11.21A5.138,5.138,0,1,0,.821,6.072,5.144,5.144,0,0,0,5.959,11.21Z" transform="translate(0.113)" fill="rgba(112,112,112,0.42)"/>
          </svg>
    </div>
    <input #input type="text" name="site_search" value="" placeholder="search posts…" [formControl]="searchControl">
</div>