@import "blog-styles";

:host {
    article {
        display: flex;
        flex-direction: column;
        margin: 40px 0;

        .post-details {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            *> {
                margin-bottom: 30px;
            }
            .published-date {
                font-size: 12px;
                text-transform: uppercase;
                color: $color-alt;
                margin-bottom: 6px;
            }

            .post-title {
                font-size: 1.625em;
                margin: 6px 0 0;
            }

            .post-excerpt {
                font-size: 1em;
                line-height: 22px;
                color: $color-alt;
                margin: 0;
                * {
                    margin-top: 10px !important;
                }
            }

            blog-button {
                margin-top: 6px;
            }
        }

        .post-img {
            width: 100%;
            text-align: right;
            margin-bottom: 22px;
            img {
                width: 100%;
                min-height: 195px;
                height: 100%;
            }
        }

        &.is-desktop, &.is-ipadPro {
            flex-direction: row-reverse;
            .post-details {
                width: 50%;
            }

            .post-img {
                width: 50%;

                img {
                    max-width: 321px;
                }
            }
        }

        &.is-ipad {
            flex-direction: column;

            .col {
                width: 100%;

                >* {
                    margin-bottom: 22px;
                }
                img  {
                    max-width: 100%;
                    min-height: 0;
                }
            }

            .post-details  {
                .published-date  {
                    margin-bottom: 15px;
                }

                .post-title {
                    margin-bottom: 6px;
                }
            }
        }
    }
}