<article *ngIf="post" [class]="'is-'+(activeBreakPoint$ | async)">
    <div class="col post-img">
        <img *ngIf="post.featuredImage" [src]="post.featuredImage.node.link" [alt]="post.featuredImage.node.altText"
            [srcset]="post.featuredImage.node.srcSet">
    </div>
    <div class="col post-details">
        <div>
            <time [datetime]="post.date" class="published-date">{{post.date | date : 'longDate'}}</time>
            <h1 class="post-title">{{post.title}}</h1>
        </div>
        <p class="post-excerpt" [innerHtml]="post.excerpt | clip : 200 | safe : 'html'"></p>
        <!-- <blog-button (click)="goToPost(post.slug)" type="submit" isClass="primary" isSize="small">Read post</blog-button> -->
        <blog-button [routerLink]="'/posts/'+post.slug" type="submit" isClass="primary" isSize="small">Read post</blog-button>
    </div>
</article>