:host {
    #user-menu-lockup {
        position: relative;

        span {
            cursor: pointer;
        }
        #drop-down-wrapper {
            background-color: white;
            position: absolute;
            top: 30px;
            width: 130px;
            right: -10px;
            // padding: 15px 0;
            border: 1px solid #eee;

            ul {

                a {
                    text-decoration: none;
                    color: #888888;
                    text-transform: uppercase;
                }
                li {
                    padding: 12px 30px;
                    border-bottom: 1px solid #eee;
                    font-size: 12px;
                    transition: all 0.3s ease-in-out;
                    cursor: pointer;

                    &:last-of-type {
                        border-bottom: none;
                    }

                    &:hover {
                        background-color: #f7f7f7;
                        transition: all 0.3s ease-in-out;
                    }
                }
            }

            &::before {
                position: absolute;
                top: -7px;
                right: 10px;
                display: inline–block;
                border-right: 7px solid transparent;
                border-bottom: 7px solid #ccc;
                border-left: 7px solid transparent;
                border-bottom-color: #eee;
                content: "";
                }
                &::after {
                position: absolute;
                top: -5px;
                right: 11px;
                display: inline–block;
                border-right: 6px solid transparent;
                border-bottom: 6px solid #ffffff;
                border-left: 6px solid transparent;
                content: "";
                }
        }
    }
}