<div id="user-menu-lockup">
    <span (click)="showDP = !showDP">
        <svg id="_0287-user" data-name="0287-user" xmlns="http://www.w3.org/2000/svg" width="19" height="20" viewBox="0 0 19 20">
            <path id="Path_6" data-name="Path 6" d="M9.5,11A5.5,5.5,0,1,1,15,5.5,5.506,5.506,0,0,1,9.5,11Zm0-10A4.5,4.5,0,1,0,14,5.5,4.505,4.505,0,0,0,9.5,1Z" fill="#8c6238"/>
            <path id="Path_7" data-name="Path 7" d="M17.5,20H1.5A1.5,1.5,0,0,1,0,18.5a5.972,5.972,0,0,1,1.225-3.3,7.128,7.128,0,0,1,2.869-2.219c1.464-.651,3.283-.525,5.406-.525s3.942-.126,5.406.525A7.137,7.137,0,0,1,17.775,15.2,5.972,5.972,0,0,1,19,18.5,1.5,1.5,0,0,1,17.5,20Zm-8-7c-3.487,0-6.06.953-7.441,2.756A5.08,5.08,0,0,0,1,18.5a.5.5,0,0,0,.5.5h16a.5.5,0,0,0,.5-.5,5.062,5.062,0,0,0-1.059-2.744C15.559,13.953,12.986,13,9.5,13Z" fill="#8c6238"/>
          </svg>
    </span>
    <div id="drop-down-wrapper" *ngIf="showDP">
        <ul>
            <ng-template  ngFor let-menuItem [ngForOf]="(menuItems$ | async)">
                <a [routerLink]="menuItem.path" (click)="showDP = false"><li [class.isSelected]="menuItem.id === (selectedMenuItem$ | async)">{{menuItem.label}}</li></a>
            </ng-template>
        </ul>
    </div>
</div>