
@import 'blog-styles';

:host {
    article {
        margin-bottom: 70px;
        .summary {
            background: #f7f7f7;
            // padding: 15px 15px 41px 15px;
            padding: 20px;

            h2 {
                font-family: "Helvetica Neue";
                font-weight: 500;
                font-size: 16px;
                letter-spacing: 0.07em;
                text-align: left;
                color: #888;
                margin: 0;
                margin-bottom: 10px;
            }

            p  {
                font-family: "Helvetica Neue";
                font-weight: normal;
                font-size: 16px;
                letter-spacing: 0.07em;
                line-height: 26px;
                text-align: left;
                color: #040404;
                margin: 0;
            }
        }

        .details-container {
            margin-top: 36px;
            padding: 30px;
            border: 1px solid #d0d2d6;

            .top-row, .bottom-row {
                display: grid;
                grid-template-columns: 20% 52% 28%;
            }

            .top-row {
                .logo-lockup {
                    img {
                        max-width: 150px;
                    }
                }

                .company-stats {
                    display: flex;
                    
                    .col-left {
                        width: 60%;
                    }
                    .col {
                        li {
                            font-family: "Helvetica Neue";
                            font-weight: normal;
                            font-size: 14px;
                            letter-spacing: 0.07em;
                            text-align: left;
                            color: #040404;
                            margin-bottom: 10px;

                            a {
                                text-decoration: none;
                                color: $color-accent;
                            }
                        }

                        &.col-right {
                            li {
                                color: #888;
                            }
                        }
                    }
                }

                .action-lockup {
                    text-align: right;
                }
            }

            .bottom-row {
                margin-top: 57px;
                .pros-cons {
                    display: flex;

                    h3 {
                        font-family: "Helvetica Neue";
                        font-weight: 500;
                        font-size: 16px;
                        letter-spacing: 0.07em;
                        text-align: left;
                        color: #040404;
                        margin: 0 0 20px 0;
                    }

                    .col-left {
                        width: 60%;
                    }
                    li {
                        font-family: "Helvetica Neue";
                        font-weight: normal;
                        font-size: 14px;
                        letter-spacing: 0.07em;
                        text-align: left;
                        color: #888;
                        margin-bottom: 10px;
                        list-style: disc;
                        margin-left: 18px;
                    }
                }
            }
        }

        .full-review {
            margin-top: 70px;

            h2 {
                font-family: "Helvetica Neue";
                font-weight: 500;
                font-size: 22px;
                letter-spacing: 0.07em;
                line-height: 26px;
                text-align: left;
                color: #040404;
            }
            .the-good {
                margin-bottom: 50px;
            }
            ::ng-deep {
                h4 {
                    font-family: "Helvetica Neue";
                    font-weight: 500;
                    font-size: 18px;
                    letter-spacing: 0.07em;
                    line-height: 43px;
                    text-align: left;
                    color: #040404;
                    margin-bottom: 20px;
                }

                p {
                    font-family: "Helvetica Neue";
                    font-weight: normal;
                    font-size: 14px;
                    letter-spacing: 0.07em;
                    line-height: 26px;
                    text-align: left;
                    color: #040404;
                    margin-bottom: 30px;
                }
            }
        }
    }

    .media-lockup {
        display: grid;
        align-items: flex-start;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 20px;
        .media-item {
            max-width: 400px;

            img {
                width: 100%;
            }
            div {
                // width: 400px;
                height: 256px;
                background-position: center;
                background-size: cover;
            }

            h3 {
                font-family: "Helvetica Neue";
                font-weight: normal;
                font-size: 16px;
                letter-spacing: 0.07em;
                line-height: 43px;
                text-align: left;
                color: #040404;
                margin: 0  0 20px 0;
            }
        }
    }

    .is-ipad {
        article {

            .details-container {
                .top-row {
                    display: flex;
                    flex-direction: column;
                    text-align: center;

                    .logo-lockup {
                        img {
                            max-width: 100%;
                            max-height: 100px;
                        }
                        margin-bottom: 30px;
                    }

                    .company-stats {
                        order: 3
                    }

                    .action-lockup {
                        order: 2;
                        text-align: center;
                        margin-bottom: 30px;
                    }
                }

                .bottom-row {
                    display: flex;
                    justify-content: space-between;
                    margin-top: 30px;
                    .spacer {
                        display: none;
                    }

                    .pros-cons {
                        width: 100%;
                    }
                }
            }
        }
    }

    .is-mobile {
        article {
            .summary {
                h2 {
                    font-size: 14px;
                }

                p  {
                    font-size: 12px;
                }
            }
            .details-container {
                padding: 15px;
                .top-row {
                    display: flex;
                    flex-direction: column;
                    text-align: center;

                    .logo-lockup {
                        img {
                            max-width: 100%;
                            max-height: 100px;
                        }
                        margin-bottom: 30px;
                    }

                    .company-stats {
                        order: 3
                    }

                    .action-lockup {
                        order: 2;
                        text-align: center;
                        margin-bottom: 30px;
                    }
                }

                .bottom-row {
                    display: flex;
                    justify-content: space-between;
                    margin-top: 30px;
                    .spacer {
                        display: none;
                    }

                    .pros-cons {
                        width: 100%;
                    }
                }
            }
        }
    }
}