<div [class]="'review ' + 'is-' + (activeBreakPoint$ | async)" *ngIf="(review$ | async) as review">

    <blog-tabs [rating]="review.review.rating">
        <blog-tab [title]="'Review'">
            <article >
                <div class="summary">
                    <h2>Takeaway Summary</h2>
                    <p>{{review.review.takeawaySummary}}</p>
                </div>

                <section>
                    <div class="details-container">
                        <div class="details-inner-wrapper">
                            <div class="top-row">
                                <div class="logo-lockup">
                                    <img [title]="review.review.companyDetailsGroup.logo.title" [src]="review.review.companyDetailsGroup.logo.sourceUrl" [srcSet]="review.review.companyDetailsGroup.logo.srcSet" [alt]="review.review.companyDetailsGroup.logo.altText">
                                </div>
                                <div class="company-stats" *ngIf="review.review.companyDetailsGroup as companyDetailsGroup">
                                    <div class="col col-left">
                                        <ul>
                                            <ng-template ngFor let-field [ngForOf]="buildCompanyDetails(companyDetailsGroup.companysDetails)">
                                                <li>
                                                    <span *ngIf="field.value != null" [class]="field.class">{{field.label}}</span>
                                                </li>
                                            </ng-template>
                                        </ul>
                                    </div>
                                    <div class="col col-right">
                                        <ul>
                                            <ng-template ngFor let-field [ngForOf]="buildCompanyDetails(companyDetailsGroup.companysDetails)">
                                                <li *ngIf="field.value != null">
                                                    <span *ngIf="field.class == 'date'" [class]="field.class">{{formatDate(field.value) | date : 'longDate'}}</span>
                                                    <span *ngIf="field.class == 'website'" [class]="field.class">
                                                        <a [href]="field.value" target="_blank">
                                                            {{field.value}}
                                                        </a>
                                                    </span>
                                                    <span *ngIf="field.class != 'date' && field.class != 'website'" [class]="field.class">{{field.value}}</span>
                                                </li>
                                            </ng-template>
                                        </ul>
                                    </div>
                                </div>
                                <div class="action-lockup">
                                    <a [href]="review.review.companyDetailsGroup.affiliateDetails.affiliateLink" target="_blank">
                                        <blog-button >{{review.review.companyDetailsGroup.affiliateDetails.affiliateButtonText}}</blog-button>
                                    </a>
                                </div>
                            </div>
                            <div class="bottom-row" *ngIf="review.review.companyDetailsGroup.prosAndCons as prosAndCons">
                                <div class="spacer"></div>
                                <div class="pros-cons">
                                    <div class="col col-left pros">
                                        <h3>Pro's</h3>
                                        <ul>
                                            <ng-template ngFor let-key [ngForOf]="getKeys(prosAndCons.pros)">
                                                <li *ngIf="prosAndCons.pros[key]">
                                                    <span>{{prosAndCons.pros[key]}}</span>
                                                </li>
                                            </ng-template>
                                        </ul>
                                    </div>
                                    <div class="col col-right cons">
                                        <h3>Con's</h3>
    
                                        <ul>
                                            <ng-template ngFor let-key [ngForOf]="getKeys(prosAndCons.cons)">
                                                <li *ngIf="prosAndCons.cons[key]">
                                                    <span>{{prosAndCons.cons[key]}}</span>
                                                </li>
                                            </ng-template>
                                        </ul>
                                    </div>
                                </div>
                                <div class="spacer">
    
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                <section class="full-review" *ngIf="review.review.fullReview as fullReview">
                    <h2>Full review</h2>
                    <hr>
                    <div class="the-good">
                        <h4>{{fullReview.theGood.heading}}</h4>
                        <div class="contents" [innerHtml]="fullReview.theGood.content | safe : 'html'">

                        </div>
                    </div>
                    <div class="the-bad">
                        <h4>{{fullReview.theBad.heading}}</h4>
                        <div class="contents" [innerHtml]="fullReview.theBad.content | safe : 'html'">

                        </div>
                    </div>
                </section>
            </article>
            <blog-author-bio [authorBio]="review.author.node"></blog-author-bio>
        </blog-tab>
        <blog-tab [title]="'Media'">
            <ul  class="media-lockup">
                <ng-template ngFor let-img [ngForOf]="buildImgArray(review.review.media)">
                    <li class="media-item">
                        <img *ngIf="isBot; else isBrowser" [src]="img.sourceUrl"  [srcSet]="img.srcSet" alt="img.altText">

                        <ng-template #isBrowser>
                            <div [style.background-image]="'url('+img.sourceUrl+')'"></div>
                        </ng-template>
                        <h3>{{img.title}}</h3>
                    </li>
                </ng-template>
            </ul>
        </blog-tab>
    </blog-tabs>
    
</div>