:host {
    .tabs-container {
        width: 100%;

        .tab-group-header {
            display: flex;
            align-items: baseline;
            border-bottom: 1px solid #707070;
            justify-content: space-between;
            ul {
                display: flex;

                li {
                    margin-right: 30px;
                    cursor: pointer;
                    a {
                        font-family: "Helvetica Neue";
                        font-weight: 500;
                        font-size: 16px;
                        letter-spacing: 0.07em;
                        line-height: 43px;
                        text-align: left;
                        text-transform: uppercase;
                        color: #888;
                    }

                    &.active {
                        a {
                            color: #040404;
                        }
                    }
                }
            }
        }

        &.is-mobile {
            .tab-group-header {
                ul {
                    li {
                        a {
                            font-size: 12px;
                        }
                    }
                }
            }

            ::ng-deep {
                .pane {
                    padding-top: 50px;
                }
            }
        }
    }
}