<div [class]="'tabs-container is-' + (activeBreakPoint$ | async)">
    <div class="tab-group-header">
        <ul class="nav nav-tabs"*ngIf="tabs">
            <ng-template ngFor let-tab  [ngForOf]="tabs">
                <li (click)="selectTab(tab)" [class.active]="tab.isActive">
                    <a>{{tab.title}}</a>
                </li>
            </ng-template>
        </ul>
        <blog-review-ratings [rating]="rating"></blog-review-ratings>
    </div>
    <ng-content></ng-content>
</div>