<div class="reviews-lockup" *ngIf="(reviews$ |  async) as reviews">
    <ul>
        <ng-template ngFor let-review [ngForOf]="reviews">
            <li>
                <blog-review-post [review]="review" [isBot]="isBot" [routerLink]="review.slug"></blog-review-post>
                <hr>
                <blog-review-post [review]="review" [isBot]="isBot" ></blog-review-post>
            </li>
        </ng-template>
    </ul>
</div>