:host {
    ul {
        li {
            hr {
                width: 90%;
                border:none;
                border-top:1px dashed #D0D2D6;
                color:#fff;
                background-color:#fff;
                height:1px;
                margin: 50px auto;
            }
        }
    }
}