<div class="container">
    <div class="inner-container">
        <span class="sub-title" *ngIf="page.type !== 'post'; else showTime">{{page.type}}</span>
        <ng-template #showTime>
            <time *ngIf="(selectedPost$ | async) as post" [datetime]="post.date">{{post.date | date : 'longDate'}}</time>
        </ng-template>
        <h1>{{page.title}}</h1>
    </div>
</div>