@import 'blog-styles';

:host {
    .container {
        text-align: center;
        height: 100%;
        height: 100%;
        display: flex;
        background: #f7f7f7;
        div {
            margin: auto;
        }

        .sub-title {
            margin-bottom: 10px;
            text-transform: uppercase;
            color: $color-accent;
            font-family: "Helvetica Neue";
            font-weight: normal;
            font-size: 16px;
            text-align: center;

        }
        time {
            font-family: "Helvetica Neue";
            font-weight: normal;
            font-size: 16px;
            text-align: left;
            color: #764d24;
        }
        h1 {
            margin: 0;
            font-family: "Helvetica Neue";
            font-weight: normal;
            font-size: 74px;
            text-align: center;
            color: #040404;
            text-transform: capitalize;
        }
    }
}