<form class="dynamic-form" [formGroup]="form" (submit)="handleSubmit($event)">
    <ng-container *ngFor="let field of config;" dynamicForm [config]="field" [group]="form">
    </ng-container>
  </form>
  