:host {
    
    ::ng-deep {
        blog-form-input {
            margin-bottom: 20px;

            &:last-of-type {
                margin-bottom: 0;
            }
            input {
                margin-bottom: 20px;
            }
        }
    }
}