@import "blog-styles";

:host {
    section {
        width: 100%;
        margin-top: 50px;
        header {
            border-bottom: 1px solid #707070;
            margin-bottom: 30px;
            .top-row {
                display: flex;
                justify-content: space-between;
                align-items: flex-start;

                h3 {
                    font-family: "Helvetica Neue";
                    font-weight: 500;
                    margin: 0;
                    font-size: 16px;
                    letter-spacing: 0.07em;
                    line-height: 43px;
                    text-align: left;
                    color: #040404;
                    text-transform: uppercase;
                }

                .carousel-controls {
                    line-height: 43px;
                    span {
                        transition: all 0.3s ease-in-out;
                        cursor: pointer;
                        &:hover {
                            svg {
                                path {
                                    fill:$color-accent;
                                    transition: all 0.3s ease-in-out;
                                }
                            }
                        }
                    }
                    i {
                        margin-left: 27px;
                    }
                }
            }

            .slider-progress-lockup {
                .slider-progress {
                    width: 40px;
                    height: 0px;
                    background: transparent;
                    border: 1px solid $color-accent;
                    margin-bottom: -1px;
                }
            }
        }
        ::ng-deep {
            .owl-next, .owl-prev {
                display: none;
            }
            .owl-item {
                max-width: 278.5px;
                article {
                    margin: 0 18px;
                    cursor: pointer;

                    a,h2 {
                        cursor: pointer;
                        text-decoration: none;
                    }
                }

                &:first-of-type {
                    article {
                        margin-left: 0;
                    }
                }
                &:nth-of-type(4) {
                    article {
                        margin-right: 0;
                    }
                }
                &:nth-of-type(5) {
                    article {
                        margin-left: 36px;
                    }
                }
                &:last-of-type {
                    article {
                        margin-right: 0;
                    }
                }
            }
        }
        article {
            // width: calc(25% - 18px);
            // margin: 0 18px;
            img {
                width: 100%;
                height: 179px;
            }

            .post-img {
                overflow: hidden;
                div{
                    background-position: center center;
                    background-size: cover;
                    width: 100%;
                    height: 179px;
                    transition: all 0.3s ease-in-out;
                }
            }

            h2 {
                color: #000000;
                text-transform: uppercase;
                font-size: 12px;
                line-height: 18px;
                margin-top: 15px;
                transition: all 0.3s ease-in-out;
            }

            &:hover {
                .post-img {
                    div {
                        transform: scale(1.1);
                        transition: all 0.3s ease-in-out;
                    }
                }
                h2 {
                    color: $color-accent;
                    transition: all 0.3s ease-in-out;
                }

            }
        }
    }
}