<section *ngIf="relatedPosts" [id]="id" [class]="'is-'+(activeBreakPoint$ | async)">
    <header>
        <div class="top-row">
            <h3>Similar posts</h3>
            <div class="carousel-controls">
                <span>
                    <i (click)="onClickPrevSlide($event)" class="prev-control">
                        <svg xmlns="http://www.w3.org/2000/svg" width="10" height="19" viewBox="0 0 10 19">
                            <path id="_0826-chevron-up" data-name="0826-chevron-up"
                                d="M0,.5A.5.5,0,0,1,.854.146L9.5,8.793,18.147.146a.5.5,0,0,1,.707.707l-9,9a.5.5,0,0,1-.707,0l-9-9A.5.5,0,0,1,0,.5Z"
                                transform="translate(10) rotate(90)" fill="#888" />
                        </svg>
                    </i>
                </span>
                <span (click)="onClickNextSlide($event)" class="next-control">
                    <i>
                        <svg xmlns="http://www.w3.org/2000/svg" width="10" height="19" viewBox="0 0 10 19">
                            <path id="_0826-chevron-up" data-name="0826-chevron-up"
                                d="M0,9.5a.5.5,0,0,0,.853.354L9.5,1.207l8.646,8.646a.5.5,0,1,0,.707-.707l-9-9a.5.5,0,0,0-.707,0l-9,9A.5.5,0,0,0,0,9.5Z"
                                transform="translate(10) rotate(90)" fill="#888" />
                        </svg>
                    </i>
                </span>
            </div>
        </div>
        <div class="slider-progress-lockup">
            <div class="slider-progress"></div>
            <div class="border-line"></div>
        </div>
    </header>
    <ul class="" *ngIf="relatedPosts">
        <owl-carousel-o [options]="customOptions" (initialized)="sliderInit($event)" (changed)="onSliderChange($event)">
            <div *ngIf="isBot; else isBrowser">
                <ng-template *ngFor="let post of relatedPosts">
                    <article class="is-bot">
                        <a [owlRouterLink]="'/posts/'+post.slug">
                            <div class="col post-img">
                                <img *ngIf="post.featuredImage" [src]="post.featuredImage.link"
                                    [alt]="post.featuredImage.altText ? post.featuredImage.altText : ''"
                                    [title]="post.title"
                                    [srcset]="post.featuredImage.srcSet">
                            </div>
                            <div class="col post-details">
                                <h2 class="post-title">{{post.title}}</h2>
                            </div>
                        </a>
                    </article>
                </ng-template>
            </div>
            <ng-template #isBrowser>
                <ng-template *ngFor="let post of relatedPosts" carouselSlide [id]="post.id">
                    <article class="is-browser">
                        <a [owlRouterLink]="'/posts/'+post.slug">
                            <div class="col post-img">
                                <div [style.background-image]="'url(' + post.featuredImage.sourceUrl + ')'">
                                </div>
                            </div>
                            <div class="col post-details">
                                <h2 class="post-title">{{post.title}}</h2>
                            </div>
                        </a>
                    </article>
                </ng-template>
            </ng-template>
        </owl-carousel-o>
    </ul>
</section>