<footer>
    <nav *ngIf="(menuItems$ | async) as menu">
        <ul>
            <ng-template ngFor let-item [ngForOf]="menu">
                <li>
                    <a [routerLink]="item.path" class="nav-item">{{item.label}}</a>
                </li>
            </ng-template>
        </ul>
    </nav>
    <div class="disclaimer">
        <p>
            Copyright <span class="copyright-symbol">&#169;</span> {{getCopyrightDate()}} <span class="site-name">TBN</span> · <a href="">Read our disclosures</a>
        </p>
    </div>
    <div class="privacy-policy">
        <a routerLink="/privacy-policy" class="nav-item">Privacy Policy</a>
    </div>
</footer>