@import "blog-styles";

:host {
    footer {
        display: grid;
        grid-template-columns: 25% 50% 25%;
        text-align: center;
        align-items: center;
        padding: 20px 73px;
        border-top: 1px solid #d0d2d6;
        text-transform: uppercase;
        font-size: 12px;
        ul {
            display: flex;
            align-items: center;
            li {
                margin-right: 40px;
                text-align: left;
            }
        }

        .nav-item {
            font-family: "Helvetica Neue";
            color: #000000;
            display: block;
            font-weight: 500;
            font-size: 12px;
            text-decoration: none;
            background: transparent;
            cursor: pointer;
            letter-spacing: 1px;
        }

        .disclaimer {
            p {
                margin: 0;
            }
            .site-name {
                color: $color-accent;
            }

            a {
                color: $color-accent;
                text-decoration: none;
            }
        }

        .privacy-policy {
            text-align: right;
        }
    }
}