<section id="featuredPosts" [class]="'is-'+(activeBreakPoint$ | async)" *ngIf="(featuredPosts$ | async) as posts">
    <header>
        <div class="top-row">
            <h3>Featured posts</h3>
            <div class="carousel-controls">
                <span>
                    <i (click)="onClickPrevSlide($event)" class="prev-control">
                        <svg xmlns="http://www.w3.org/2000/svg" width="10" height="19" viewBox="0 0 10 19">
                            <path id="_0826-chevron-up" data-name="0826-chevron-up"
                                d="M0,.5A.5.5,0,0,1,.854.146L9.5,8.793,18.147.146a.5.5,0,0,1,.707.707l-9,9a.5.5,0,0,1-.707,0l-9-9A.5.5,0,0,1,0,.5Z"
                                transform="translate(10) rotate(90)" fill="#888" />
                        </svg>
                    </i>
                </span>
                <span (click)="onClickNextSlide($event)" class="next-control">
                    <i>
                        <svg xmlns="http://www.w3.org/2000/svg" width="10" height="19" viewBox="0 0 10 19">
                            <path id="_0826-chevron-up" data-name="0826-chevron-up"
                                d="M0,9.5a.5.5,0,0,0,.853.354L9.5,1.207l8.646,8.646a.5.5,0,1,0,.707-.707l-9-9a.5.5,0,0,0-.707,0l-9,9A.5.5,0,0,0,0,9.5Z"
                                transform="translate(10) rotate(90)" fill="#888" />
                        </svg>
                    </i>
                </span>
            </div>
        </div>
        <div class="slider-progress-lockup">
            <div class="slider-progress"></div>
            <div class="border-line"></div>
        </div>
    </header>
    <ul class="" *ngIf="(featuredPosts$ | async) as posts">
        <owl-carousel-o [options]="customOptions">
            <div *ngIf="isBot; isBrowser">
                <ng-template *ngFor="let post of posts" carouselSlide [id]="post.id">
                    <article class="bot">
                        <a [owlRouterLink]="'/posts/'+post.slug">
                            <div class="col post-img">
                                <img *ngIf="post.featuredImage" [src]="post.featuredImage.link"
                                    [alt]="post.featuredImage.altText ? post.featuredImage.altText : ''"
                                    [title]="post.title"
                                    [srcset]="post.featuredImage.srcSet">
                            </div>
                            <div class="col post-details">
                                <h2 class="post-title">{{post.title}}</h2>
                            </div>
                        </a>
                    </article>
                </ng-template>
            </div>
            <ng-template *ngFor="let post of posts" carouselSlide [id]="post.id" #isBrowser>
                <article class="browser">
                    <a [owlRouterLink]="'/posts/'+post.slug">
                        <div class="col post-img">
                            <div [style.background-image]="'url(' + post.featuredImage.sourceUrl + ')'">
                            </div>
                        </div>
                        <div class="col post-info">
                            <time [datetime]="post.date">{{post.date | date: 'longDate'}}</time>
                            <h2 class="post-title">{{post.title}}</h2>
                        </div>
                        <div class="post-details">
                            <div class="comment-count">
                                <div class="icon">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="15.823" viewBox="0 0 18 15.823">
                                        <path id="Path_11" data-name="Path 11" d="M1.129,17.539a.566.566,0,0,0,.514.326,8.5,8.5,0,0,0,4.566-1.317,25.848,25.848,0,0,0,2.913.269c4.963,0,9-3.314,9-7.388s-4.037-7.387-9-7.387-9,3.313-9,7.387A6.788,6.788,0,0,0,2.678,14.58a9.831,9.831,0,0,1-1.47,2.355A.57.57,0,0,0,1.129,17.539Zm.127-8.11c0-3.449,3.529-6.254,7.866-6.254s7.866,2.806,7.866,6.254-3.529,6.254-7.866,6.254A24.24,24.24,0,0,1,6.205,15.4a.587.587,0,0,0-.4.073,7.94,7.94,0,0,1-2.964,1.172A10.78,10.78,0,0,0,3.892,14.61a.565.565,0,0,0-.186-.658A5.682,5.682,0,0,1,1.256,9.429Z" transform="translate(-0.122 -2.042)" fill="#8c6238"/>
                                    </svg>
                                </div>
                                <span>{{post.commentCount > 0 ? post.commentCount :'0' }}</span>
                            </div>
                        </div>
                    </a>
                </article>
            </ng-template>
        </owl-carousel-o>
    </ul>
</section>