<div *ngIf="authorBio" class="author-lockup">
    <div class="col col-left">
        <img [src]="authorBio.avatar.url" [alt]="authorBio.name">
    </div>
    <div class="col col-right">
        <h2>About the Author</h2>
        <p>{{authorBio.description}}</p>
    </div>
</div>