:host {
    .author-lockup {
        display: flex;
        align-items: center;
        padding: 35px;
        background-color: #F7F7F7;
        margin-top: 35px;
        .col-left {
            margin-right: 30px;
            img {
                height: 120px;
                width: 120px;
                border-radius: 50%;
            }
        }

        .col-right {
            color: #040404;
            h2 {
                font-size: 26px;
                font-weight: 500;
                margin: 0 0 17px 0;
                font-family: "Helvetica Neue";
            }

            p {
                margin: 0;
                font-size: 16px;
                // font-weight: 500;
                line-height: 25px;
                font-family: "Helvetica Neue";
            }
        }
    }
}