
<nav [class]="'is-'+(activeBreakPoint$ | async)" [class.isAuthPage]="isAuthPage()">
    <div class="col-left">
        <ul *ngIf="(menuItems$ | async) as menuItems">
            <ng-template  ngFor let-menuItem [ngForOf]="menuItems">
                <li [class.isSelected]="menuItem.id === (selectedMenuItem$ | async)"><a [routerLink]="menuItem.path">{{menuItem.label}}</a></li>
            </ng-template>
        </ul>
    </div>

    <div class="col-right">
        <blog-site-searchbar></blog-site-searchbar>
        <div class="drop-down-lockup">
            <blog-user-menu></blog-user-menu>
        </div>
    </div>
</nav>