@import "blog-styles";
:host  {
    nav  {
        padding: 13px 73px;
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        background-color: white;
        z-index: 100;

        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid #f7f7f7;
        // &.isAuthPage {
        //     width: 55vw;
        //     .col-right {
        //         display: none;
        //     }
        // }
        ul {
            display: flex;
            align-items: center;
            flex-direction: column;
            li  {
                font-size: 12px;
                text-transform: uppercase;
                cursor: pointer;
                transition: all 0.3s ease-in-out;

                a {
                    font-family: 'Montserrat';
                    color: #000000;
                    display: block;
                    font-size: 12px;
                    padding: 5px 5px;
                    text-decoration: none;
                    background: transparent;
                    cursor: pointer;
                    letter-spacing: 1px;
                    border-bottom: 1px solid transparent;
                    border-top: 1px solid transparent!important;

                    &:hover {
                        background: transparent;
                        color: $color-accent;
                        border-bottom: 1px solid $color-accent;
                    }
                }

                &.isSelected, &:hover {
                    a {
                        color: $color-accent;
                        border-bottom: 1px solid $color-accent;
                        transition: all 0.3s ease-in-out;
                    }
                }
            }
        }

        .col-right {
            display: flex;
            align-items: center;
            blog-site-searchbar {
                margin-right: 40px;
            }
        }

        &.is-ipadPro, &.is-desktop {
            ul {
                flex-direction: row;

                li {
                margin-right: 40px;
                }
            }
        }
    }
}