@import "blog-styles";

:host {
    article {
        display: flex;
        flex-direction: column;

        .post-details {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            *> {
                margin-bottom: 30px;
            }
            .published-date {
                font-size: 12px;
                text-transform: uppercase;
                margin-bottom: 6px;
            }

            .post-title {
                font-size: 1.625em;
                margin: 0;
                font-family: "Helvetica Neue";
                font-weight: 500;
                font-size: 24px;
                line-height: 32px;
                text-align: left;
                color: #040404;

            }

            .post-excerpt {
                font-size: 1em;
                line-height: 22px;
                color: $color-alt;
                margin: 0;
                * {
                    margin-top: 10px !important;
                }
            }

            blog-button {
                margin: 6px auto 0 auto;
            }
        }

        .post-img {
            width: 100%;
            text-align: right;
            margin-bottom: 22px;

            .isBrowser {
                background-position: center center;
                background-size: cover;
                height: 467px;
            }
            img {
                width: 100%;
                min-height: 195px;
                height: 100%;
                max-height: 467px;
            }
        }

        &.is-desktop, &.is-ipadPro {
            .post-img {

                img {
                    max-width: 100%;
                }
            }
        }

        &.is-ipad {
            .col {
                width: 100%;

                >* {
                    margin-bottom: 22px;
                }
                img  {
                    max-width: 100%;
                    min-height: 0;
                }
            }

            .post-details  {
                .published-date  {
                    margin-bottom: 15px;
                }

                .post-title {
                    margin-bottom: 6px;
                }
            }
        }
    }
}