<article *ngIf="post" [class]="'is-'+(activeBreakPoint$ | async)">
    <div>
        <div class="col post-img">
            <div *ngIf="isBot; else isBrowser" class="isBot">
                <img *ngIf="post.featuredImage" [src]="post.featuredImage.link" [alt]="post.featuredImage.altText ? post.featuredImage.altText : ''"
                [srcset]="post.featuredImage.srcSet"
                [title]="post.title"
                >
            </div>

            <ng-template #isBrowser>
                <div class="isBrowser" [style.background-image]="'url('+post.featuredImage.sourceUrl +')'"></div>
                <!-- <img *ngIf="post.featuredImage" [src]="post.featuredImage.link" [alt]="post.featuredImage.altText ? post.featuredImage.altText : ''"
                [srcset]="post.featuredImage.srcSet"
                [title]="post.title"
                > -->
            </ng-template>

        </div>
        <div class="col post-details">
            <time [datetime]="post.date" class="published-date">{{post.date | date : 'longDate'}}</time>
            <h1 class="post-title">{{post.title}}</h1>
            <p *ngIf="post.excerpt" class="post-excerpt" [innerHtml]="post.excerpt | clip : 200 | safe : 'html'"></p>
            <blog-button [routerLink]="'/posts/'+post.slug" type="submit" isClass="primary" isSize="small">Read post</blog-button>
        </div>
    </div>
    <blog-post-details [post]="post"></blog-post-details>
</article>