<div class="form-field-wrapper" [formGroup]="group">
    <label for="" *ngIf="config.label">{{config.label}}</label>
    <div class="input-container">
        <input type="number" name="" [id]="config.name" [attr.placeholder]="config.placeholder" [formControlName]="config.name">
        <div class="icon-container">
            <span (click)="increase()">
                <svg xmlns="http://www.w3.org/2000/svg" width="13.5" height="7" viewBox="0 0 13.5 7">
                    <g id="Polygon_1" data-name="Polygon 1" fill="#764d24">
                        <path
                            d="M 12.32326221466064 6.5 L 1.176737546920776 6.5 L 6.75 0.7203203439712524 L 12.32326221466064 6.5 Z"
                            stroke="none" />
                        <path
                            d="M 6.75 1.440640926361084 L 2.353474617004395 6 L 11.14652442932129 6 L 6.75 1.440640926361084 M 6.75 0 L 13.5 7 L 0 7 L 6.75 0 Z"
                            stroke="none" fill="#764d24" />
                    </g>
                </svg>
            </span>
            <span (click)="decrease()">
                <svg xmlns="http://www.w3.org/2000/svg" width="13.5" height="7" viewBox="0 0 13.5 7">
                    <g id="Polygon_2" data-name="Polygon 2" transform="translate(13.5 7) rotate(180)" fill="#764d24">
                        <path
                            d="M 12.32326221466064 6.5 L 1.176737546920776 6.5 L 6.75 0.7203203439712524 L 12.32326221466064 6.5 Z"
                            stroke="none" />
                        <path
                            d="M 6.75 1.440640926361084 L 2.353474617004395 6 L 11.14652442932129 6 L 6.75 1.440640926361084 M 6.75 0 L 13.5 7 L 0 7 L 6.75 0 Z"
                            stroke="none" fill="#764d24" />
                    </g>
                </svg>
            </span>
        </div>
    </div>
</div>