@import "blog-styles";
:host {
    .form-field-wrapper {

        label  {
            font-family: "Helvetica Neue";
            font-weight: 500;
            font-size: 16px;
            letter-spacing: 0.07em;
            line-height: 43px;
            text-align: left;
            color: #040404;
            text-transform: uppercase;
        }

        .input-container {
            display: flex;
            align-items: center;
            border-radius: 4px;
            background: transparent;
            border: 1px solid #d0d2d6;
            padding: 10px 25px 10px 10px;
            input {
                border: none;
                width: 100%;
                /* Chrome, Safari, Edge, Opera */
                &::-webkit-outer-spin-button,
                &::-webkit-inner-spin-button {
                -webkit-appearance: none;
                margin: 0;
                }

                /* Firefox */
                &[type=number] {
                -moz-appearance: textfield;
                }
            }
            .icon-container {
                display: flex;
                flex-direction: column;

                span {
                    display: flex;
                    cursor: pointer;
                    &:first-of-type {
                        margin-bottom: 5px;
                    }
                }
            }
        }
    }
}