<article *ngIf="review" [class.isBot]="isBot">
    <div class="col-left">
        <div class="logo-lockup">
            <img *ngIf="isBot; else isBrowser"  [src]="review.review.logo.srcSet" [alt]="review.review.logo.altText">
            <ng-template #isBrowser>
                <!-- <div class="logo" [style.background-image]="'url(' +  review.review.companyDetailsGroup.logo.sourceUrl + ')'"></div> -->
                <img class="logo" [src]="review.review.companyDetailsGroup.logo.sourceUrl" [srcset]="review.review.companyDetailsGroup.logo.srcSet" [alt]="review.review.companyDetailsGroup.logo.altText">
                <!-- <img src="" alt="" srcset=""> -->
            </ng-template>
        </div>
        <div class="review-details">
            <div class="top-row">
                <time datetime="{{review.date | date}}">{{review.date | date : 'longDate'}}</time>
                <blog-label [label]="review.review.companyDetailsGroup.type"></blog-label>
            </div>
            <h2>{{review.title}}</h2>
            <div [innerHtml]="review.excerpt | safe: 'html'"></div>
        </div>
    </div>
    <div class="col-right">
        <blog-review-ratings [rating]="review.review.rating"></blog-review-ratings>
        <blog-button [isSize]="'small'">read review</blog-button>
    </div>
</article>