:host {

    article {
        display: flex;
        justify-content: flex-start;

        .col-left {
            display: flex;
            justify-content: flex-start;

            .logo-lockup {
                margin-right: 30px;
                height: 119px;
            }

            .review-details {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                time {
                    font-family: "Helvetica Neue";
                    font-weight: normal;
                    font-size: 16px;
                    text-align: left;
                    color: #888;
                    text-transform: uppercase;
                    margin-right: 41px;
                }

                h2 {
                    font-family: "Helvetica Neue";
                    font-weight: 500;
                    font-size: 26px;
                    text-align: left;
                    color: #040404;
                    margin: 5px 0 0;
                }

                div {
                    max-width: 95%;
                    font-family: "Helvetica Neue";
                    font-weight: normal;
                    font-size: 18px;
                    text-align: left;
                    color: #888;

                    ::ng-deep p {
                        margin-bottom: 0;
                    }
                }

            }
        }

        .col-right {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            text-align: right;
        }
    }
    .logo {
        max-width: 223px;
        height: auto;
    }
}