<ul [class]="'is-'+(activeBreakPoint$ | async)" *ngIf="(banners$ | async) as banners">
    <owl-carousel-o [options]="customOptions">
        <div *ngIf="isBot; isBrowser">
            <ng-template *ngFor="let banner of banners" carouselSlide>
                <article class="bot">
                    <!-- <a [owlRouterLink]="'/posts/'+post.slug">
                        <div class="col post-img">
                            <img *ngIf="post.featuredImage" [src]="post.featuredImage.link"
                                [alt]="post.featuredImage.altText ? post.featuredImage.altText : ''"
                                [title]="post.title"
                                [srcset]="post.featuredImage.srcSet">
                        </div>
                        <div class="col post-details">
                            <h2 class="post-title">{{post.title}}</h2>
                        </div>
                    </a> -->
                </article>
            </ng-template>
        </div>
        <ng-template *ngFor="let banner of banners" carouselSlide #isBrowser>
            <article class="browser">
                <a >
                    <div class="col post-img" [style.background-image]="'url('+ banner.featuredImage.sourceUrl + ')'">
                        <div class="overlay">
                            <div class="post-details-lockup">
                                <div class="col post-details">
                                    <time [datetime]="banner.date">{{banner.date | date :'longDate'}}</time>
                                    <h2 class="post-title">{{banner.title}}</h2>
                                    <p>{{banner.bannerInfo.excerpt}}</p>
                                    <blog-button [routerLink]="sanitizeUrl(banner.bannerInfo.postLink.url)">Read post</blog-button>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </article>
        </ng-template>
    </owl-carousel-o>

    <div class="pagination">
        <div class="pre" (click)="onClickPrevSlide()">
            <svg xmlns="http://www.w3.org/2000/svg" width="35.023" height="26.728" viewBox="0 0 35.023 26.728">
                <path id="XMLID_546_" d="M43.023,30.364a1.849,1.849,0,0,1-1.843,1.843H14.267l8.341,8.387a1.836,1.836,0,0,1,0,2.627,1.81,1.81,0,0,1-1.29.507,1.744,1.744,0,0,1-1.29-.553L8.553,31.655a1.782,1.782,0,0,1,0-2.581L20.028,17.553a1.857,1.857,0,1,1,2.627,2.627l-8.387,8.341H41.18A1.849,1.849,0,0,1,43.023,30.364Z" transform="translate(-8 -17)" fill="#d0d2d6"/>
              </svg>                                          
        </div>
        <div class="next" (click)="onClickNextSlide()">
            <svg xmlns="http://www.w3.org/2000/svg" width="35.023" height="26.728" viewBox="0 0 35.023 26.728">
                <path id="XMLID_546_" d="M8,30.364a1.849,1.849,0,0,0,1.843,1.843H36.756l-8.341,8.387a1.836,1.836,0,0,0,0,2.627,1.81,1.81,0,0,0,1.29.507A1.744,1.744,0,0,0,31,43.175L42.47,31.655a1.782,1.782,0,0,0,0-2.581L31,17.553a1.857,1.857,0,0,0-2.627,2.627l8.387,8.341H9.843A1.849,1.849,0,0,0,8,30.364Z" transform="translate(-8 -17)" fill="#d0d2d6"/>
              </svg>
              
        </div>
    </div>
</ul>