:host {

    .is-mobile {
        // ::ng-deep {
            .pagination {
                display: none;
            }
            article {
                height: 500px;

                .overlay {
                    .post-details-lockup {
                        margin: auto;
                        text-align: center;
                        time {
                            font-family: Lora;
                            font-weight: bold;
                            font-size: 14px;
                            text-align: left;
                            color: #d0d2d6;
                            margin-bottom: 10px;
                        }
                        h2 {
                            font-family: Lora;
                            font-weight: bold;
                            font-size: 36px;
                            text-align: center;
                            color: #f7f7f7;
                            margin: 0 auto 35px auto;
                            line-height: 55px;
                            text-decoration: none;
                            max-width: none;
                        }

                        p {
                            display: none;
                        }
                    }
                }
            }
        // }
    }
    ul {
        position: relative;
        .pagination {
            left: 50px;
            right: 50px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            > div {
                display: flex;
                align-items: center;
                cursor: pointer;
                opacity: 0.6;
                position: absolute;
                top: 0;
                bottom: 0;
                transition: all 0.3s ease-in-out;

                &:hover {
                    opacity: 1;
                    transition: all 0.3s ease-in-out;
                }
            }

            .pre {
                left: 50px;
                z-index: 1;
            }

            .next {
                right: 50px;
                z-index: 1;
            }
        }
    }
    article {
        height: 430px;

        a {
            text-decoration: none;
        }
        .overlay {
            background-color: rgba($color: #000000, $alpha: 0.6);
            height: 100%;
            // position: relative;

            .post-details-lockup {
                display: flex;
                align-items: center;
                margin: auto;
                height: 100%;
                margin-left: 266px;

                time {
                    font-family: "Helvetica Neue";
                    font-weight: normal;
                    font-size: 14px;
                    text-align: left;
                    color: #d0d2d6;
                }
                h2 {
                    // font-family: "Helvetica Neue";
                    margin: 0;
                    color: #f7f7f7;
                    font-weight: normal;
                    // text-decoration: underline;
                    font-size: 56px;
                    text-align: left;
                    max-width: 57%;
                    line-height: 67px;
                }

                p {
                    font-family: "Helvetica Neue";
                    max-width: 70%;
                    font-weight: normal;
                    font-size: 16px;
                    text-align: left;
                    color: #d0d2d6;
                    margin-bottom: 48px;
                }
            }
        }
        .post-img {
            height: 100%;
            background-position: center center;
            background-size: cover;
            background-repeat: no-repeat;
        }
    }

    ::ng-deep {
        owl-carousel-o {
            .owl-nav {
                display: none !important;
            }
        }
    }
}